<footer id="footer"> 
    <!-- footers links-->

        <div class="container">
            <div class="row">

                <div class="col-xs-6 col-md-4">   
                    <h3>  Information   </h3> 
                    <div class="">
                        <ul>
                            <li><a href="https://www.bigdiscount.com.au/customer/account/login/">Sign In</a></li>
                            <li><a href="https://www.bigdiscount.com.au/checkout/cart/">View Cart</a></li>
                            <li><a href="https://www.bigdiscount.com.au/wishlist/">My Wishlist</a></li>
                            <li><a href="https://www.bigdiscount.com.au/catalog/product_compare/index/">Compare Products</a></li>
                            <li><a href="https://www.bigdiscount.com.au/contact/">Contact Us</a></li> 
                            <li><a href="https://www.bigdiscount.com.au/rewards-policy/">Reward Program</a></li> 
                            <li><a href="https://www.bigdiscount.com.au/buy-now-pay-later-with-zippay/">About ZipPay</a></li> 
                        </ul>       
                    </div> 
                </div>

                <div class="col-xs-6 col-md-4"> 
                    <h3> Company Info  </h3>
                    <div class=""> 
                        <ul>
                            <li><a href="https://www.bigdiscount.com.au/about-us">About US</a></li>
                            <li><a href="https://www.bigdiscount.com.au/Terms-and-Conditions"> Terms &amp; Conditions</a></li>
                            <li><a href="https://www.bigdiscount.com.au/Privacy-Statement">Privacy Statement</a></li>
                            <li><a href="https://www.bigdiscount.com.au/Warranty-policy">Warranty policy</a></li>
                            <li><a href="https://www.bigdiscount.com.au/cookies-policy">Cookie policy</a></li>
                            <li><a href="https://www.bigdiscount.com.au/Shipping-Guide">Shipping</a></li>
                            <li><a href="https://www.bigdiscount.com.au/Return-Policy"> Returns</a></li>
                        </ul>


                        </div>
                </div> 

                <div class="col-xs-6 col-md-4">
                    <h3>  Contact Information    </h3>
                    <div class="">
                            <ul>
                                <li> 
                                        <span><i class="fa fa-envelope"></i></span>
                                        <div><b>Email</b></div>
                                        <div><a href="mailto:help@bigdiscount.com.au">help@bigdiscount.com.au</a></div>
                                    
                                </li>
                                <li>
                                        <span><i class="fa fa-map-marker"></i></span>
                                        <div><b>Address</b></div>
                                        <div>
                                            23/32 Perry St, Matraville, 2036, NSW <br/><br/> Pick up available by appointment during the office hours.
                                        </div>   
                                </li> 
                            </ul>
                        </div>
                </div>
                    
            </div> 
        </div>

     <!--footer social links-->
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul> 
        <p class="copyright">&copy; Oz Bargain, All right reserve.</p> 			

</footer>

    <!-- Scripts -->
    <!-- Latest compiled and minified JavaScript -->
        <script src="{{ base_url() }}/frontEnd/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/frontEnd/js/jquery.scrolly.min.js"></script>
        <script src="{{ base_url() }}/frontEnd/js/jquery.poptrox.min.js"></script>
        <script src="{{ base_url() }}/frontEnd/js/skel.min.js"></script>
        <script src="{{ base_url() }}/frontEnd/js/util.js"></script>
        <script src="{{ base_url() }}/frontEnd/js/bootstrap.min.js" ></script>
        <script src="{{ base_url() }}/frontEnd/js/main.js"></script>

    </body>
</html>