{# {{!-- head --}} #}
{% include "partials/head.twig" %}

 {# <!-- top fix header--> #}
{% include "partials/top-nav.twig" %}



<div class="container">
    {% include "partials/breadcrumb-nav.twig" %}
    
    {% include "partials/flash.twig" %}

    <div class="row">
        {% if success_message %}
            <div class="alert alert-success">
             {{ success_message}}
            </div>
        {% endif %}
        
        {% for error in formError %} <div class="alert alert-danger">{{this}}</div> {% endfor %}        
    </div>
    <div class="row"> 
        <h3>Contact Us</h3> 
             <form action="{{ base_url() }}/sendmail" method="post" enctype="multipart/form-data">
                <div class="form-group" style="font-size:20px"> 
                    <div class="form-group{{ errors.firstName ? ' has-error' : '' }}">
                        <label for="firstName">First name *</label>
                        <input value="{{oldData.firstName  | htmlDecode}}" required name="firstName" type="text" class="has-error" placeholder="Enter first name">
                        {% if errors.firstName %}
                            <span class="help-block">{{ errors.firstName | first }}</span>
                        {% endif %}
                    </div>  
                    <div class="form-group{{ errors.lastName ? ' has-error' : '' }}">   
                        <label for="lastName">Last name *</label>
                        <input value="{{oldData.lastName  | htmlDecode}}" required name="lastName" type="text" placeholder="Enter last name">
                        {% if errors.lastName %}
                            <span class="help-block">{{ errors.lastName | first }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                        <label for="email">Email address *</label>
                        <input value="{{oldData.email  | htmlDecode}}" required name="email"  type="email" placeholder="Enter correct email">
                        {% if errors.email %}
                            <span class="help-block">{{ errors.email | first }}</span>
                        {% endif %}
                    </div> 
                    <div class="form-group{{ errors.contactNumber ? ' has-error' : '' }}">
                        <label for="contactNumber">Contact Number</label>
                        <input value="{{oldData.contactNumber  | htmlDecode}}"  name="contactNumber" type="text" placeholder="Enter contact number">
                        {% if errors.contactNumber %}
                            <span class="help-block">{{ errors.contactNumber | first }}</span>
                        {% endif %}
                    </div>  
                    <div class="form-group{{ errors.orderNumber ? ' has-error' : '' }}">
                        <label for="orderNumber">Order Number</label>
                        <input value="{{oldData.orderNumber  | htmlDecode}}"  name="orderNumber" type="text" placeholder="Enter order number">
                        {% if errors.orderNumber %}
                            <span class="help-block">{{ errors.orderNumber | first }}</span>
                        {% endif %}
                    </div> 
                    <div class="form-group{{ errors.subject ? ' has-error' : '' }}">
                        <label for="subject">Subject *</label>
                        <select name="subject" required style="color:grey">
                            <option value="" selected disabled> Please select </option>
                            <option value="General Enquiry">General Enquiry</option>
                            <option value="About product">About product</option>
                            <option value="About order and deliver">About order and deliver</option>
                            <option value="About Claim">About Claim</option>
                        </select>
                        {% if errors.subject %}
                            <span class="help-block">{{ errors.subject | first }}</span>
                        {% endif %}
                    </div>  
                    <div class="form-group{{ errors.message ? ' has-error' : '' }}">   
                        <label for="message">Detail Message *</label>
                        <textarea required name="message" cols='30' rows="5" placeholder="Write a deteail message *" >{{oldData.message  | htmlDecode}}</textarea>
                        {% if errors.message %}
                            <span class="help-block">{{ errors.message | first }}</span>
                        {% endif %}
                    </div>  
                    <div class="form-group">
                        <label class="web-message-only"> Please view this page on your mobile browser if you like to capture a photo of video using your smart phone. </label>
                        <label for="attach"> Only image and video allowed. Do not exceed 10MB file size.</label>
                        <label for="attach">Attachements</label>
                        <p class="attachement"><input type="file" name="attach" id="attach"  ></p>
                        {% if errors.attach %}
                            <span class="help-block">{{ errors.attach | first }}</span>
                        {% endif %}

                        <!-- <span type="addMore" id="addMore" class="btn btn-primary" onclick="addmoreFiles()" >+ Add More files</span> -->
                    </div>
                       
                    <br>  
   
                    <div class="form-group">     
                        <button type="submit" class="btn btn-primary form-control" >Submit</button>
                    </div>  
                    
                    {{ csrf.field | raw }}
            </form> 
    </div>
</div>
{# <!-- Footer --> #}
{% include "partials/footer.twig" %} 
