

<!-- Boxes --> 
	<div class="thumbnails">
		{{#each catResult}}
			<div class="box">
			<a href="/hc/category/{{url}}" class="image fit"><img src="/hc/frontEnd/uploads/images/category/{{catThumbnail}}" alt="{{{catTitle}}}" style="max-height: 338px;" /></a>
			<div class="inner">
				<h3>{{{catTitle}}}</h3>
				<p>This section will provide you all the informations about {{{catTitle}}}.</p>
				<a href="/hc/category/{{url}}" class="button fit" >Find More >></a>
			</div>
			</div>
		{{/each}}

		<div class="box">
			<a href="/hc/contact-us" class="image fit"><img src="/hc/frontEnd/uploads/images/category/1525673966346-yoann-boyer-214415-unsplash.jpg" alt="Contact us"  /></a>
			<div class="inner">
				<h3>Get In Touch</h3>
				<p>If you still can not find the answer you are looking for, get in touch with us.</p>
				<a href="/hc/contact-us" class="button fit" >Contact Us >></a>
			</div>
		</div> 
	</div>

</div>
</div>